Name : Rashmi Mahajan
Batch : Data science Masters 
Topic : MySql
Date : 16/2/2023

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

SQL databases:
SQL stands for ‘Structured Query Language’. It is the most common programming language used for executing queries, and handling data by using CRUD (create, read, update and delete) operation on a Relational Database Management System (RDMS) like MySQL, PostgreSQL, etc.
1. It is RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
2. These databases have fixed or static or predefined schema	
3. These databases are not suited for hierarchical data storage.	
4. These databases are best suited for complex queries	
5. Vertically Scalable	
6. Follows ACID property	
7. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	
When to Use SQL databases?
SQL databases are cross-platform, more secure, free, and open source with better and stronger community support. These types of databases are a much better option when −
1. Your primary focus is on data consistency, validity, and data integrity
2. You need to execute dynamic and complex queries to retrieve data
3. You have predefined data and defined SQL structure or schemas, which don’t change with the data

NoSQL databases: 
NoSQL stands for ‘Not-Only SQL’. These types of databases are Non-Relational or non-tabular. A No-SQL database does not require a specific schema and hence is schema-less, and all the entries/documents are JSON documents. Examples − MongoDB, DynamoDB, Redis, etc.
1. It is Non-relational or distributed database system.
2. They have dynamic schema
3. These databases are best suited for hierarchical data storage.
4. These databases are not so good for complex queries
5. Horizontally scalable
6. Follows CAP(consistency, availability, partition tolerance)
7. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc
When to Use NoSQL databases?
NoSQL databases are very flexible, easy to use, developer-friendly, and provide higher performance. These types of databases are a much better option when −
1. You have Big Data Applications that handle large volumes of unstructured data.
2. You need to scale the database based on constantly changing requirements
3. You need the flexibility to store different types of data

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL)
DDL changes the structure of the table like creating a table, deleting a table, altering a table, etc.
All the command of DDL are auto-committed that means it permanently save all the changes in the database.

Here are some commands that come under DDL:

CREATE :- CREATE It is used to create a new table in the database.
Syntax:
CREATE TABLE TABLE_NAME (COLUMN_NAME DATATYPES[,....]);  
Example:
CREATE TABLE EMPLOYEE(Name VARCHAR2(20), Email VARCHAR2(100), DOB DATE);  


ALTER : -  ALTER: It is used to alter the structure of the database. This change could be either to modify the characteristics of an existing attribute or probably to add a new attribute.

Syntax:   To add a new column in the table
ALTER TABLE table_name ADD column_name COLUMN-definition;    
            To modify existing column in the table:
ALTER TABLE table_name MODIFY(column_definitions....);  

EXAMPLE
ALTER TABLE STU_DETAILS ADD(ADDRESS VARCHAR2(20));  
ALTER TABLE STU_DETAILS MODIFY (NAME VARCHAR2(20));  

DROP :- DROP: It is used to delete both the structure and record stored in the table.
Syntax
DROP TABLE table_name;  
Example
DROP TABLE EMPLOYEE;  

TRUNCATE :- TRUNCATE: It is used to delete all the rows from the table and free the space containing the table.
Syntax:
TRUNCATE TABLE table_name;  
Example:
TRUNCATE TABLE EMPLOYEE;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language
DML commands are used to modify the database. It is responsible for all form of changes in the database.
The command of DML is not auto-committed that means it can't permanently save all the changes in the database. They can be rollback.
Here are some commands that come under DML:
1. INSERT
2. UPDATE
3. DELETE

a. INSERT: The INSERT statement is a SQL query. It is used to insert data into the row of a table.

Syntax:
INSERT INTO TABLE_NAME (col1, col2, col3,.... col N)  VALUES (value1, value2, value3, .... valueN);  
Or

INSERT INTO TABLE_NAME    VALUES (value1, value2, value3, .... valueN);    
For example:

INSERT INTO javatpoint (Author, Subject) VALUES ("Sonoo", "DBMS");  


b. UPDATE: This command is used to update or modify the value of a column in the table.

Syntax:
UPDATE table_name SET [column_name1= value1,...column_nameN = valueN] [WHERE CONDITION]   

For example:
UPDATE students  SET User_Name = 'Sonoo'    WHERE Student_Id = '3'  


c. DELETE: It is used to remove one or more row from a table.

Syntax:
DELETE FROM table_name [WHERE condition];  

For example:
DELETE FROM javatpoint  WHERE Author="Sonoo";

Q4. What is DQL? Explain SELECT with an example.

Data Query Language : DQL is used to fetch the data from the database.

It uses only one command:

SELECT
a. SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.

Syntax:

SELECT expressions FROM TABLES    WHERE conditions;  

For example:

SELECT emp_name  FROM employee  WHERE age > 20;

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure data in the specific column is unique.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It uniquely identifies a record in the relational database table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

How do I connect Python to MySQL code?

To create a connection between the MySQL database and Python, the connect() method of mysql. connector module is used. We pass the database details like HostName, username, and the password in the method call, and then the method returns the connection object

In [ ]:
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(user='root', password='password', host='127.0.0.1', database='mydb')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("SELECT DATABASE()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

#Closing the connection
conn.close()

Notes:

mysql.connector allows Python programs to access MySQL databases.

connect() method of the MySQL Connector class with the arguments will connect to MySQL and would return a MySQLConnection object if the connection is established successfully.

user = “yourusername”, here “yourusername” should be the same username as you set during MySQL installation.
password = “your_password”, here “your_password” should be the same password as you set during MySQL installation.

cursor() is used to execute the SQL statements in Python.

execute() method is used to compile a SQL statement.

Method cursor.execute ():

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.

The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:

execute (query, args = None)

Parameters :
query: This should be a string type.

Arguments: By default, the arguments are None because sometimes we can pass only a query like a SELECT query which fetches the records and does not require any values. So that’s the reason for the args=None by default. But if we want to pass the values in the case of the INSERT query, then the type of the arguments must be a tuple, list, or dict only.

Returns:
It will return the count of the numbers of rows affected during the query.

Return Type:
The return type will be an integer (int).

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database. Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

exec() function is used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed.

Q7. Give the order of execution of SQL clauses in an SQL query

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.