Name : Rashmi Mahajan
Batch : Data science Masters / IMPACT
Mentor : Sudhansu Kumar
Topic : 
Date : 4/2/2023

Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. 

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [14]:
l1 = []
for i in l:
    if type(i) == tuple:
        for t in i:
            if type(t)==int:
                l1.append(t)
l1

[25534, 27483, 34357, 24936]

In [12]:
lst = l1.sort()
lst

In [9]:
lst = list(filter(lambda x: type(x)==int , l))
#lst = lst[::-1]
lst

[]

In [15]:
list(map(lambda lst:lst,l))

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [16]:
list(map(lambda lst:lst.sort(), l))

AttributeError: 'tuple' object has no attribute 'sort'

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l

In [ ]:
square = map(lambda x : x ** 2,l)
list(square)

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l

In [ ]:
list_to_str = (map(lambda x : str(x) , l))
list_to_str

In [ ]:
tuple(list_to_str)

Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.

In [ ]:
l = list(range(1,26))
l

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y : x*y , l)

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l

In [ ]:
'''
l1 = []
for i in l:
    if i%2==0 and i%3==0:
        l1.append(i)
l1
'''

In [ ]:
filt_list = filter(lambda x: x%2==0 and x%3==0 , l)

In [ ]:
list(filt_list)

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.
['python', 'php', 'aba', 'radar', 'level']

In [ ]:
l =['python', 'php', 'aba', 'radar', 'level']
l

In [ ]:
list( filter(lambda x : x[::]==x[::-1] , l))