Name : Rashmi Mahajan
Batch : Data science Masters / IMPACT
Mentor : Sudhansu Kumar
Topic : Conditional Statements
Date : 30/1/2023

Q1. W.A.P to accept percentage from user and Display the Grades as folloing Criteria
     Marks          Grade
    > 90              A
    >80 and <=90      B
    >=60 and <= =80   c
    below 60          D

In [1]:
per = float(input("Enter the Percentage :"))

if per>90 :
    print("A-Grade")
elif per>80 and per<=90 :
    print("B-Grade")
elif per>=60 and per<80 :
    print("C-Grade")
else : 
    print("D-Grade")

Enter the Percentage : 96

A-Grade

Q2. W.A.P to accept cost-price of Bike and display the road tax to be paid according to following Criteria:
    TAX       Cost
    15%     >100000
    10%     >50000 and <=100000
    5%       <= 50000

In [2]:
cost = int(input("Enter the Cost-price of the Bike :"))

if cost>100000 :
    Tax = 0.15*cost
    print("Road Tax to be paid is : ", Tax)
elif cost>50000 and cost <=100000 :
    Tax = 0.10*cost
    print("Road Tax to be paid is : ", Tax)
else :
    Tax = 0.05*cost
    print("Road Tax to be paid is : ", Tax)

Enter the Cost-price of the Bike : 120000

Road Tax to be paid is :  18000.0

Q3. Accept any city from user and display its Monument:
    City       Monument
    Delhi      Red Fort
    Agra       Taj Mahal
    Jaipur     Jal Mahal

In [3]:
city_list = ['Delhi','Agra','Jaipur']
city_list

['Delhi', 'Agra', 'Jaipur']

In [5]:
city_list = ['Delhi','Agra','Jaipur']
city_list
city = input("Enter the City from city_list : ")
if city == 'Delhi' or city == 'delhi':
    print('Monument of ', city ,'is Red Fort')
elif city == 'Agra' or city == 'agra':
    print('Monument of ', city ,'is Taj Mahal')
elif city == 'Jaipur' or city == 'jaipur':
    print('Monument of ', city ,'is Jal Mahal')
else:
    print('you entered city other than City_list')

Enter the City from city_list :  agra

Monument of  agra is Taj Mahal

Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10?

In [6]:
num =  int(input("Enter the Number :"))
count = 0
while num >=10 :
    num = num / 3
    count = count + 1
count

Enter the Number : 300000

10

Q5. Why and when to use While loop in Python. Give datailed Description with Example?

Python while loop is used to run a specific code until a certain condition is met. If the condition evaluates to True, the code inside the while loop is executed. condition is evaluated again.

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true. We generally use this loop when we don't know the number of times to iterate beforehand. In the while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True.

In [7]:

# Python program to illustrate
# while loop
count = 0
while (count < 3):
    count = count + 1
    print("pwskills Data-science-Masters")

pwskills Data-science-Masters
pwskills Data-science-Masters
pwskills Data-science-Masters

In [8]:
# In the above example, the condition for while will be True as long as the counter variable (count) is less than 3.  counter variable (count) is less than 3.

Q6.  Use nested while loop to display 3 different patterns

In [9]:
#Pattern 1
count =0
i = 1
while  i <= 5 :
    j = 1
    while j <= i :
        print(count,end = '')
        count += 1
        j += 1
    print("")    
    i += 1

0
12
345
6789
1011121314

In [10]:
#Pattern 2
i = 1
while  i <= 5 :
    j = 1
    while j <= i :
        print('*',end = '')
        j += 1
    print("")    
    i += 1

*
**
***
****
*****

In [11]:
#Pattern 3
i = 5
while  i >= 0 :
    j = 0
    while j <= i :
        print('*',end = '')
        j += 1
    print("")    
    i -= 1

******
*****
****
***
**
*

Q7 .  write a while loop to display 1 to 10 numbers

In [12]:
i = 0
while i<=10 : 
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

Q8 . Reverse a while loop to display 10 to 1 numbers

In [13]:
i = 10
while i>=0 : 
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0